.add-on {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--secondary-light);
    border-radius: 10px;
    padding: 1rem;

    &.active {
        border-color: var(--primary-dark);
        background-color: var(--secondary-lightest);
    }

    .label {
        display: flex;
        align-items: center;

        &>*+*{
            margin-left: 1rem;
        }

        .icon {
            border: 1px solid var(--secondary-light);
            padding: 0.20rem 0.25rem;
            border-radius: 3px;

            &.active {
                background-color: var(--primary-dark);
                border-color: var(--primary-dark);
            }
        }
        .info {

            &>*+*{
                margin-top: 1vh;
            }
            .title {
                color: var(--primary);
                font-weight: 700;
            }
            .description {
                color: var(--secondary);
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
        }
    }

    .price {
        color: var(--primary-dark);
        font-size: 0.85rem;
    }
}
