<div class="personal-info">
    <multi-step-form-card title="Personal info" description="Please provide your name, email address, and phone number.">
        <div class="content">
            <form>
                <div class="field">
                    <label for="name">Name</label>
                    <input name="name" type="text" placeholder="e.g. Stephen King">
                </div>
                <div class="field">
                    <label for="email">Email Address</label>
                    <input name="email" type="email" placeholder="e.g. stephenking@lorem.com">
                </div>
                <div class="field">
                    <label for="phone">Phone Number</label>
                    <input name="phone" type="text" placeholder="e.g. +1 234 567 890">
                </div>
            </form>
        </div>
    </multi-step-form-card>
    <div class="footer">
        <div routerLink="/select-plan" class="btn next">Next Step</div>
    </div>
</div>