.personal-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;

    multi-step-form-card{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .content {
            width: 100%;
            form{
                &>*+*{
                    margin-top: 1.5rem;
                }

                .field{
                    display: flex;
                    flex-direction: column;
                    &>*+*{
                        margin-top: 0.25rem;
                    }

                    label {
                        color: var(--primary);
                        font-weight: 700;
                    }
                    input {
                        border: 1px solid var(--secondary-light);
                        border-radius: 5px;
                        outline: none;
                        height: 3rem;
                        padding: 1rem;

                        &[type=text]{
                            color: var(--secondary);
                        }
                    }
                }
            }
        }
    }


    .footer {
        display: flex;
        justify-content: end;
        width: 100%;
        padding: 1rem;
        background-color: var(--white);

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--secondary);
            font-weight: 700;
            padding: 1rem 1.5rem;
            border-radius: 5px;

            &.next {
                background-color: var(--primary);
                color: var(--secondary-light);
            }
        }
    }
}