<div class="personal-info">
    <div class="card">
        <div class="top">
            <div class="title">Personal info</div>
            <div class="description">Please provide your name, email address, and phone number.</div>
        </div>
        <div class="content">
            <form>
                <div class="field">
                    <label for="name">Name</label>
                    <input name="name" type="text" placeholder="e.g. Stephen King">
                </div>
                <div class="field">
                    <label for="email">Email Address</label>
                    <input name="email" type="email" placeholder="e.g. stephenking@lorem.com">
                </div>
                <div class="field">
                    <label for="phone">Phone Number</label>
                    <input name="phone" type="text" placeholder="e.g. +1 234 567 890">
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="btn next">Next Step</div>
    </div>
</div>