<div class="select-plan">
    <multi-step-form-card title="Select your plan" description="You have the option of monthly or yearly billing.">
        <div class="content">
            <div class="plans">
                @for (plan of plans; track $index) {
                <div class="plan">
                    <multi-step-form-plan [plan]="plan"></multi-step-form-plan>
                </div>
                }@empty {
                <div>Liste vide</div>
                }
            </div>
            <div class="duration">
                <div class="option active">Monthly</div>
                <div class="slide"></div>
                <div class="option">Yearly</div>
            </div>
        </div>
    </multi-step-form-card>
    <div class="footer">
        <div routerLink="/personal-info" class="btn go-back">Go Back</div>
        <div routerLink="/pick-add-ons" class="btn next">Next Step</div>
    </div>
</div>