<div class="select-plan">
    <div class="card">
        <div class="top">
            <div class="title">Select your plan</div>
            <div class="description">You have the option of monthly or yearly billing.</div>
        </div>
        <div class="content">
            <div class="plans">
                <div class="plan active">
                    <div class="icon">
                        <img src="assets/images/icon-arcade.svg" alt="icon">
                    </div>
                    <div class="label">
                        <div class="title">Arcade</div>
                        <div class="price">$9/mo</div>
                    </div>
                </div>
                <div class="plan">
                    <div class="icon">
                        <img src="assets/images/icon-advanced.svg" alt="icon">
                    </div>
                    <div class="label">
                        <div class="title">Advanced</div>
                        <div class="price">$12/mo</div>
                    </div>
                </div>
                <div class="plan">
                    <div class="icon">
                        <img src="assets/images/icon-pro.svg" alt="icon">
                    </div>
                    <div class="label">
                        <div class="title">Pro</div>
                        <div class="price">$15/mo</div>
                    </div>
                </div>
            </div>
            <div class="duration">
                <div class="option active">Monthly</div>
                <div class="slide"></div>
                <div class="option">Yearly</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="btn go-back">Go Back</div>
        <div class="btn next">Next Step</div>
    </div>
</div>