.select-plan {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;

    multi-step-form-card {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .content {
            &>*+*{
                margin-top: 1.5rem;
            }

            .plans {
                &>*+*{
                    margin-top: 1rem;
                }
            }

            .duration {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--secondary-lightest);
                padding: 1rem;

                &>*+*{
                    margin-left: 2rem;
                }
                .option {
                    color: var(--secondary);
                    font-size: 1.125rem;
                    font-weight: 700;

                    &.active {
                        color: var(--primary);
                    }
                }
                .slide {
                    height: 1.25rem;
                    width: 2.5rem;
                    background-color: var(--primary);
                    border-radius: 10px;
                }
            }
            
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        background-color: var(--white);

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--secondary);
            font-weight: 700;
            padding: 1rem 1.5rem;
            border-radius: 5px;

            &.go-back {
                padding: 0;
            }
            &.next {
                background-color: var(--primary);
                color: var(--secondary-light);
            }
        }
    }
}


@media (min-width: 640px) {
    .select-plan {
        multi-step-form-card {
            .content {
                &>*+*{
                    margin-top: 1rem;
                }
            }

            .plans {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
            }
        }
    }
}