.select-plan {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .card {
        background-color: var(--white);
        filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
        border-radius: 10px;
        width: 90%;
        margin-top: -6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem 1rem;

        &>*+* {
            margin-top: 2rem;
        }

        .top {
            &>*+* {
                margin-top: 1rem;
            }

            .title {
                color: var(--primary);
                font-size: 1.5rem;
                font-weight: 700;
            }

            .description {
                color: var(--secondary);
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }

        .content {
            width: 100%;

            &>*+*{
                margin-top: 2rem;
            }

            .plans {
                &>*+*{
                    margin-top: 1rem;
                }
                .plan {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    border-radius: 10px;
                    border: 1px solid var(--secondary-light);
                    padding: 1rem;

                    .label {
                        &>*+*{
                            margin-top: 0.5rem;
                        }
                        .title {
                            color: var(--primary);
                            font-size: 1.125rem;
                            font-weight: 700;
                        }
                        .price {
                            color: var(--secondary);
                        }
                    }

                    &.active {
                        border-color: var(--primary-dark);
                        background-color: var(--secondary-lightest);
                    }

                    &>*+*{
                        margin-left: 1rem;
                    }
                }
            }

            .duration {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--secondary-lightest);
                padding: 1rem;

                &>*+*{
                    margin-left: 2rem;
                }
                .option {
                    color: var(--secondary);
                    font-size: 1.125rem;
                    font-weight: 700;

                    &.active {
                        color: var(--primary);
                    }
                }
                .slide {
                    height: 1.25rem;
                    width: 2.5rem;
                    background-color: var(--primary);
                    border-radius: 10px;
                }
            }
            
        }

    }

    .footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        background-color: var(--white);

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--secondary);
            font-weight: 700;
            padding: 1rem 1.5rem;
            border-radius: 5px;

            &.go-back {
                padding: 0;
            }
            &.next {
                background-color: var(--primary);
                color: var(--secondary-light);
            }
        }
    }
}