<div class="pick-add-ons">
    <multi-step-form-card title="Pick add-ons" description="Add-ons help enhance your gaming experience.">
        <div class="content">
            @for (addOn of addOns; track $index) {
                <div class="add-on">
                    <multi-step-form-ad-on [addOn]="addOn"></multi-step-form-ad-on>
                </div>
            }
        </div>
    </multi-step-form-card>
    <div class="footer">
        <div class="btn go-back">Go Back</div>
        <div class="btn next">Next Step</div>
    </div>
</div>