<div class="pick-add-ons">
    <div class="card">
        <div class="top">
            <div class="title">Pick add-ons</div>
            <div class="description">Add-ons help enhance your gaming experience.</div>
        </div>
        <div class="content">
            @for (addOn of addOns; track $index) {
                <div class="add-on">
                    <multi-step-form-ad-on [addOn]="addOn"></multi-step-form-ad-on>
                </div>
            }
        </div>
    </div>
    <div class="footer">
        <div class="btn go-back">Go Back</div>
        <div class="btn next">Next Step</div>
    </div>
</div>