main {
    header {
        height: 18vh;
        background-image: url('../assets/images/bg-sidebar-mobile.svg');
        display: flex;
        justify-content: center;
        padding-top: 4vh;

        nav {
            display: flex;
            align-items: flex-start;
            justify-content: center;

            &> *+* {
                margin-left: 1rem;
            }

            .link {
                border: 1px solid var(--white);
                color: var(--white);
                border-radius: 100%;
                padding: 0.5rem 0.7rem;
                font-size: 0.85rem;
                font-weight: bold;

                &.active {
                    background-color: var(--primary-lighter);
                    border-color: var(--primary-lighter);
                    color: var(--primary);
                }
            }
        }
    }
    .content {
        display: flex;
        justify-content: center;

        .card {
            background-color: var(--white);
            filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
            border-radius: 10px;
            width: 90%;
            padding: 1rem;
            margin-top: -6vh;
        }
    }
}