<main>
    <header>
        <nav>
            <div routerLink="personal-info" routerLinkActive="active" class="link">1</div>
            <div routerLink="select-plan" routerLinkActive="active" class="link">2</div>
            <div routerLink="pick-add-ons" routerLinkActive="active" class="link">3</div>
            <div routerLink="finishing-up" routerLinkActive="active" class="link">4</div>
        </nav>
    </header>
    <div class="content">
        <div class="card">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
