main {
    height: 100vh;
    header {
        height: 18vh;
        background-image: url('../assets/images/bg-sidebar-mobile.svg');
        display: flex;
        justify-content: center;
        padding-top: 4vh;

        nav {
            display: flex;
            align-items: flex-start;
            justify-content: center;

            &> *+* {
                margin-left: 1rem;
            }

            .link {
                border: 1px solid var(--white);
                color: var(--white);
                border-radius: 100%;
                padding: 0.5rem 0.7rem;
                font-size: 0.85rem;
                font-weight: bold;

                &.active {
                    background-color: var(--primary-lighter);
                    border-color: var(--primary-lighter);
                    color: var(--primary);
                }
            }
        }
    }
    .content {
        height: calc(100vh - 18vh);
    }
}