
.plan {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--secondary-light);
    padding: 1rem;

    .label {
        &>*+*{
            margin-top: 0.5rem;
        }
        .title {
            color: var(--primary);
            font-size: 1.125rem;
            font-weight: 700;
        }
        .price {
            color: var(--secondary);
        }
    }

    &.active {
        border-color: var(--primary-dark);
        background-color: var(--secondary-lightest);
    }

    &>*+*{
        margin-left: 1rem;
    }
}
