.finishing-up {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;

    multi-step-form-card{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .content {
            width: 100%;

            .resume {
                padding: 1rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: var(--secondary-lightest);
                border-radius: 10px;
            }

            .item {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 1rem;
                padding-bottom: 1rem;

                .label {
                    color: var(--secondary);
                }

                .price {
                    color: var(--primary);
                    font-weight: 500;
                    font-size: 0.85rem;
                }


                &.arcade {
                    border-bottom: 1px solid var(--secondary-light);

                    .label {
                        .title {
                            color: var(--primary);
                            font-weight: 700;
                        }
                    }

                    .price {
                        color: var(--primary);
                        font-weight: 700;
                    }

                    .change {
                        color: var(--secondary);
                        font-weight: 500;
                        text-decoration: underline;
                    }
                }

            }

            .total {
                padding: 1rem;

                .item {
                    .price {
                        color: var(--primary-dark);
                        font-weight: 700;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        background-color: var(--white);

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--secondary);
            font-weight: 700;
            padding: 1rem 1.5rem;
            border-radius: 5px;

            &.go-back {
                padding: 0;
            }
            &.confirm {
                background-color: var(--primary-dark);
                color: var(--white);
            }
        }
    }
}