<div class="finishing-up">
    <multi-step-form-card title="Finishing up" description="Double-check everything looks OK before confirming.">
        <div class="content">
            <div class="resume">
                <div class="item arcade">
                    <div class="label">
                        <div class="title">Arcade (Monthly)</div>
                        <div class="change">Change</div>
                    </div>
                    <div class="price">$9/mo</div>
                </div>
                <div class="item">
                    <div class="label">Online service</div>
                    <div class="price">+$1/mo</div>
                </div>
                <div class="item">
                    <div class="label">Larger storage</div>
                    <div class="price">+$2/mo</div>
                </div>
            </div>
            <div class="total">
                <div class="item">
                    <div class="label">Total (per month)</div>
                    <div class="price">+$12/mo</div>
                </div>
            </div>
        </div>
    </multi-step-form-card>
    <div class="footer">
        <div routerLink="/pick-add-ons" class="btn go-back">Go Back</div>
        <div routerLink="/finishing-up/thank-you" class="btn confirm">Confirm</div>
    </div>
</div>