<div class="finishing-up">
    <div class="top">
        <div class="title">Finishing up</div>
        <div class="description">Double-check everything looks OK before confirming.</div>
    </div>
    <div class="content">
        <div class="card">
            <div class="item arcade">
                <div class="label">
                    <div class="title">Arcade (Monthly)</div>
                    <div class="change">Change</div>
                </div>
                <div class="price">$9/mo</div>
            </div>
            <div class="item">
                <div class="label">Online service</div>
                <div class="price">+$1/mo</div>
            </div>
            <div class="item">
                <div class="label">Larger storage</div>
                <div class="price">+$2/mo</div>
            </div>
        </div>
        <div class="total">
            <div class="item">
                <div class="label">Total (per month)</div>
                <div class="price">+$12/mo</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="go-back">Go Back</div>
        <div class="confirm">Confirm</div>
    </div>
</div>

  
  